/* Basic Page Layout */
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Kirang+Haerang&display=swap");

body {
  margin: 0;
  font-family: helvetica-neue, sans-serif;
  background-color: #1a2165;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}

/* button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  text-decoration: none;
  margin: 1rem;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: none;
  color: white;
  width: 200px;
} */

h1,
h2,
h3,
p,
a {
  color: white;
  text-align: left;
  margin: 0;
}

h1 {
  font-size: 3rem;
  /* font-family: Barriecito, cursive; */
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  z-index: 1;
  background-color: rgb(28, 28, 28);
  color: white;
}

/*LEDs*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin: auto;
  width: 35%;
  position: absolute;
  right: 0;
  gap: 20px;
}

.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}

.led {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

#led-red-off {
  background-color: rgb(127, 0, 0);
  box-shadow: none;
  /* animation: blinkRed 0.5s infinite; */
}

#led-red-on {
  background-color: #f00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
    rgba(255, 0, 0, 0.5) 0 2px 12px;
}
/* @keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
} */

#led-yellow-off {
  background-color: rgb(176, 176, 0);
  box-shadow: none;
}

#led-yellow-on {
  background-color: #ff0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
    #ff0 0 2px 12px;
}

@keyframes blinkYellow {
  from {
    background-color: #ff0;
  }
  50% {
    background-color: #aa0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
      #ff0 0 2px 0;
  }
  to {
    background-color: #ff0;
  }
}

#led-green-off {
  background-color: rgb(0, 127, 0);
  box-shadow: none;
}

#led-green-on {
  background-color: #abff00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
    #89ff00 0 2px 12px;
}

#led-blue-off {
  background-color: rgb(0, 0, 127);
  box-shadow: none;
}

#led-blue-on {
  background-color: #24e0ff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px,
    #3f8cff 0 2px 14px;
}

#led-purple-off {
  background-color: rgb(66, 0, 127);
  box-shadow: none;
}

#led-purple-on {
  background-color: rgb(132, 0, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
    inset rgb(58, 0, 102) 0 -1px 9px, #653fff 0 2px 14px;
}

#led-white-off {
  background-color: rgb(146, 146, 146);
  box-shadow: none;
}

#led-white-on {
  background-color: rgb(219, 219, 219);
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
    inset rgb(68, 68, 68) 0 -1px 9px, #9e9e9e 0 2px 14px;
}



